include LICENSE
include requirements.txt
include mm/wsdl/*
include mm/ui/templates/*/**
include mm/ui/resources/*/**
include mm/ui/resources/bootstrap/**/*
include mm/sforce/*/**
include mm/config/*
include mm/bin/MavensMateWindowServer.app/Contents/Info.plist
include mm/bin/MavensMateWindowServer.app/Contents/PkgInfo
include mm/bin/MavensMateWindowServer.app/Contents/MacOS/MavensMateWindowServer
include mm/bin/MavensMateWindowServer.app/Contents/Resources/MavensMateWindowServer.icns
include mm/bin/MavensMateWindowServer.app/Contents/Resources/mm-2.icns
include mm/bin/MavensMateWindowServer.app/Contents/Resources/en.lproj/Credits.rtf
include mm/bin/MavensMateWindowServer.app/Contents/Resources/en.lproj/InfoPlist.strings
include mm/bin/MavensMateWindowServer.app/Contents/Resources/en.lproj/MainMenu.nib
